<%- model_class = Question -%>
<table class="table table-striped">
  <% @questions.each_with_index do |question, index| %>
    <tr>
      <td>
      	<span style="color: gray;"><%= @questions.size - index %>:&nbsp;
        <%= question.created_at.strftime("%Y/%m/%d %H:%M:%S") %></span></br>
      	<%= print_content( question.content ) %>
      </td>
    </tr>
  <% end %>
</table>
