<div class="row">
  <div class="span4"></div>
  <div class="span4">
    <div class="page-header page-header-no-bottom">
    	<h1><%= @room.name %></h1>
    </div>
  	<div class="accordion" id="accordion2">
   	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne"><i class="icon-hand-down"></i>&nbsp;質問の投稿</a>
	  <div id="collapseOne" class="accordion-body collapse in">
	    <div class="accordion-inner">
		  <%= render :partial => 'form' %>
		</div>
	  </div>
	</div>
  </div>
  <div class="span4"></div>
</div>

<div class="row">
  <div class="span4"></div>
  <div class="span4">
    <%= link_to "", user_room_questions_path( current_user.id, @room.id ), method: :get, remote: true, id: :a_questions_list %>
	<div id='questions_list' ><%= render 'questions/list', :questions => @questions %></div>
  </div>
  <div class="span4"></div>
</div>
