<div class="span6">
  <div class="page-header">
    <h1><%= @room.name %></h1>
  </div>
  <%= render :partial => 'form' %>
</div>

<div class="span6">

	<div class="page-header">
	  <h1>質問一覧
  	    <%= link_to "", user_room_questions_path( current_user.id, @room.id ), method: :get, remote: true, id: :a_questions_list %>
	  </h1>
	  <p>１０秒毎に最新の情報を表示します。</p>
	</div>
	<div id='questions_list' ><%= render 'questions/list', :questions => @questions %></div>

</div>
