<div class="span2">
</div>

<div class="span4">
  <div class="hero-unit">
    <h1>Qoom</h1>
    <h4>ミーティングでより良い時間を過ごすために、<br/>
    気軽に質問してみませんか？</h4>
  </div>
</div>
<div class="span3">
	<%= render :template => 'devise/sessions/new' %>

	<%= render :template => 'devise/registrations/new' %>

</div>

<div class="span3">
</div>
