<%- model_class = Room -%>
<div class="span4"></div>

<div class="span4">

  <div class="page-header">
    <h1>Roomの編集</h1>
  </div>
  <%= link_to '新規作成', new_user_room_path(current_user) %>
  <hr/>
  <table class="table table-striped">
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.name %></td>
        <td><%= link_to '編集', edit_user_room_path(current_user, room) %></td>
        <td><%= link_to '削除', user_room_path(current_user, room), method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
        <!--<td><%#= link_to "質問の実況を見る", commentary_user_room_questions_path( current_user.id, room.id ) %></td>-->
      </tr>
    <% end %>
  </table>

</div>

<div class="span4"></div>
